In [1]:
import os
import requests as req
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs

In [2]:
ls = []
for file in os.listdir():
    if('.csv' in file):
        ls.append(file)
ls

['Asia.csv',
 'North_America.csv',
 'South_America.csv',
 'Australia.csv',
 'Europe.csv',
 'Africa.csv']

In [3]:
continent_names =[x[:-4] for x in ls]
continent_names

['Asia', 'North_America', 'South_America', 'Australia', 'Europe', 'Africa']

In [4]:
df_all = []
for continent in continent_names:
    df = pd.read_csv(continent+'.csv')
    df_all.append(df)

In [5]:
df_all[2].head()

     Country           Capital         Currency         Official language
0  Argentina      Buenos Aires        Peso(ARS)                   Spanish
1    Bolivia  Sucre (official)  Boliviano (BOB)  Spanish, Quechua, Aymara
2     Brazil          Brasília        Real(BRL)                Portuguese
3      Chile          Santiago        Peso(CLP)                   Spanish
4   Colombia            Bogotá        Peso(COP)                   Spanish

In [6]:
columns = list(df_all[0].columns)
columns.append('Continent')
columns

['Country', 'Capital', 'Currency', 'Language', 'Continent']

In [7]:
df = pd.DataFrame(columns = columns)

In [8]:
df_all[1].head()

,Country,Capital,Currency,Official language
0,Anguilla,The Valley,East Caribbean dollar(XCD),English
1,Antigua and Barbuda,St. John’s,East Caribbean dollar (XCD),English
2,Aruba,Oranjestad,Aruban florin(AWG),"Papiamento, Dutch"
3,Bahamas,Nassau,Bahamian dollar (BSD),English
4,Barbados,Bridgetown,Barbadian dollar (BBD),English

In [9]:
for i in range(0,len(df_all)):
    d = df_all[i]
    d.columns = columns[:-1]
    d['Continent'] = np.full(d.shape[0],str(continent_names[i]).replace('_',' '))
    df = df.append(d)

In [10]:
df.columns = [x.lower() for x in df.columns]

In [11]:
df

,country,capital,currency,language,continent
0,Abkhazia,Sukhumi,Russian ruble(RUB),"Georgian, Abkhaz, Russian",Asia
1,Afghanistan,Kabul,Afghani(AFN),"Pashto, Dari (Persian)",Asia
2,Akrotiri and Dhekelia,Episkopi Cantonment,Euro (EUR),"English, Greek",Asia
3,Armenia,Yerevan,Dram (AMD),Armenian,Asia
4,Azerbaijan,Baku,Manat (AZN),Azerbaijani,Asia
...,...,...,...,...,...
53,Togo,Lome,Eco,French,Africa
54,Tunisia,Tunis,Tunisian dinar(TND),Arabic,Africa
55,Uganda,Kampala,Ugandan shilling(UGX),"Swahili, English, Luganda",Africa
56,Zambia,Lusaka,Zambian kwacha(ZMW),English,Africa
57,Zimbabwe,Harare,"United States Dollar, RTGS dollar","English, Shona, Sindebele",Africa

In [12]:
df.to_csv('countries.csv', index=False)